<mat-toolbar color="primary">
  <h2 mat-dialog-title>Login</h2>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="user.username" #username="ngModel" required>
        <mat-hint>
          <span [hidden]="username.pristine">
            <span [hidden]="!username.errors?.required">username is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
      
      <mat-form-field dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
        <mat-hint>
          <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </mat-hint>
      </mat-form-field><br>
      
      <mat-checkbox name="remember" [(ngModel)]="user.remember">
        Remember Me
      </mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white"
            [disabled]="loginForm.form.invalid" >Login</button>
  </mat-dialog-actions>
</form>