<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>Contact Us</h3>
               <hr>
            </div>
     </div>

    <div fxFlex>
      <h3>Location Information</h3> 
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
               <p></p>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
          <div fxFlex="40">
                <h4>Map of our Location</h4>
          </div>
        </div>
      </div>

      <div fxFlex fxFlexOffset="20px" class="form-size">
        
        <h3>Send us your Feedback</h3>
        <div [hidden]="submitted || showresponse">
          <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width" 
            dividerColor="{{formErrors.firstname ? 'warn' : 'primary'}}">
              <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.firstname)">
                  {{formErrors.firstname}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="half-width" 
            dividerColor="{{formErrors.lastname ? 'warn' : 'primary'}}">
              <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.lastname)">
                  {{formErrors.lastname}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width" 
            dividerColor="{{formErrors.telnum ? 'warn' : 'primary'}}">
              <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
              <mat-hint>
                <span [hidden]="!(formErrors.telnum)">
                {{formErrors.telnum}}</span>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="half-width" 
            dividerColor="{{formErrors.email ? 'warn' : 'primary'}}">
              <input matInput formControlName="email" placeholder="Email" type="email" required>
              <mat-hint>
                <span [hidden]="!(formErrors.email)">
                {{formErrors.email}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <table class="form-size">
            <td>
            <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
            </td>
            <td>
            <mat-select placeholder="How?" formControlName="contacttype">
              <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                {{ ctype }}
              </mat-option>
            </mat-select>
            </td>
            </table>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
          </form>
        </div>

        <div [hidden]="!showresponse" *ngIf="feedback" [@visibility]="animate">
          <h3>Your Submission</h3>
          <mat-list>
            <p mat-line>First Name: {{ feedback.firstname}}</p>
            <p mat-line>Last Name: {{ feedback.lastname}}</p>
            <p mat-line>Tel Number: {{ feedback.telnum}}</p>
            <p mat-line>Email: {{ feedback.email}}</p>
            <p mat-line>Contact You: {{ feedback.agree}}</p>
            <p mat-line>How: {{ feedback.contacttype}}</p>
            <p mat-line>Feedback: {{ feedback.message}}</p>
          </mat-list>
        </div>
        <div [hidden]="showresponse || !submitted" [@visibility]="animate" >
          <h3>Submitting Form</h3>
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
      
      </div>
</div>