<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40"*ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dish-detail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button [routerLink]="['/dish-detail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-list fxFlex *ngIf="dish" [@visibility]="visibility" [@expand]>
      <h1><b>Comments</b></h1>
      <mat-list-item *ngFor="let comments of dish.comments">
        <h3 mat-line> {{comments.comment}} </h3>
        <h3 mat-line>{{comments.rating}} Stars</h3>
        <h3 mat-line>
          <span>-- {{comments.author}} {{comments.date | date: 'mediumDate'}} </span>
        </h3>
      </mat-list-item>
      <mat-list-item *ngIf="commentsForm.valid">
        <h3 mat-line> {{comment}}</h3>
        <h3 mat-line>{{value}} Stars</h3>
        <h3 mat-line>-- {{author}} </h3>
      </mat-list-item>
    </mat-list>
    <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width"
                        dividerColor="{{(commentFormErrors.author) ? 'warn' : 'primary'}}">
          <input matInput formControlName="author" placeholder= "Name" type="text" required [(ngModel)]="author">
          <mat-hint>
            <span [hidden]="!(commentFormErrors.author)">
              {{commentFormErrors.author}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="rating" [(ngModel)]="value" class="half-width" max="5" min="1" step ="1" thumbLabel tick-interval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width"
                        dividerColor="{{(commentFormErrors.comment) ? 'warn' : 'primary'}}">
          <textarea matInput formControlName="comment" placeholder="Your Feedback" rows=12 [(ngModel)]="comment"></textarea>
          <mat-hint>
            <span [hidden]="!(commentFormErrors.comment)">
              {{commentFormErrors.comment}}</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentsForm.invalid">Submit</button>
    </form>
  </div>

  <div [hidden] = "dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
