<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div [hidden] = "dish || dishErrMsg">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="dishErrMsg">
    <h2>Error</h2>
    <h4>{{dishErrMsg}}</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div [hidden] = "promotion || promotionErrMsg" fxFlex>
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="promotionErrMsg">
    <h2>Error</h2>
    <h4>{{promotionErrMsg}}</h4>
  </div>

  <mat-card *ngIf="leader" fxFlex [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{leader.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
      <mat-card-content>
        <p>{{leader.description}}
        </p>
      </mat-card-content>
  </mat-card>

  <div [hidden] = "leader || leaderErrMsg">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="leaderErrMsg">
    <h2>Error</h2>
    <h4>{{leaderErrMsg}}</h4>
  </div>
  
</div>